.burger {
    width: 50px;
    height: 50px;
    box-sizing: border-box;
    background-color: transparent;
    border: none;
    cursor: pointer;
    position: relative;
    z-index: 110;
}

.burger-line {
    display: block;
    width: 100%;
    height: 2px;
    position: absolute;
    left: 0;
    background-color: #000;
    opacity: 1;
    transition: 0.3s ease-in-out;
}

.burger-line:nth-child(1) {
    top: 0;
}

.burger-line:nth-child(2) {
    top: 20px;
}

.burger-line:nth-child(3) {
    top: 20px;
}

.burger-line:nth-child(4) {
    top: 40px;
}

.main-nav {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 90;
    padding-top: 100px;
    background-color: darkblue;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: transition(-100%);
    transition: transform 0.3s ease;
}

.main-nav-list {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    text-align: center;
}

.main-nav-item {
    opacity: 0;
    transition: opacity 0.2s ease 0s;
}

.menu--open .main-nav {
    transform: translateY(0%);
    transition: transform 0.2s ease;
}

.menu--open .main-nav-item {
    opacity: 1;
}

.menu--open .burger-line:nth-child(1) {
    transform: scaleX(0);
}

.menu--open .burger-line:nth-child(2) {
    transform: rotate(45deg);
}

.menu--open .burger-line:nth-child(3) {
    transform: rotate(-45deg);
}

.menu--open .burger-line:nth-child(4) {
    transform: scaleX(0);
}
