* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    min-height: 100vh;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    background-color: cornflowerblue;
    position: relative;
    z-index: 10;

}

.burger {
    width: 50px;
    height: 50px;
    box-sizing: border-box;
    background-color: transparent;
    border: none;
    cursor: pointer;
    position: relative;
    z-index: 110;
    margin-left: auto;
}

.burger-line {
    display: block;
    width: 100%;
    height: 2px;
    position: absolute;
    left: 0;
    background-color: #000;
    opacity: 1;
    transition: 0.3s ease-in-out;
}

.burger-line:nth-child(1) {
    top: 0;
}

.burger-line:nth-child(2) {
    top: 20px;
}

.burger-line:nth-child(3) {
    top: 20px;
}

.burger-line:nth-child(4) {
    top: 40px;
}

.main-nav {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 90;
    padding-top: 100px;
    background-color: darkblue;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translateY(-100%);
    transition: transform 0.3s ease;
}

.main-nav-list {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    text-align: center;
}

.main-nav-item {
    opacity: 0;
    transition: opacity 0.2s ease 0s;
}

.menu--open .main-nav {
    transform: translateY(0%);
    transition: transform 0.2s ease;
}

.menu--open .main-nav-item {
    opacity: 1;
}

.menu--open .burger-line:nth-child(1) {
    transform: scaleX(0);
}

.menu--open .burger-line:nth-child(2) {
    transform: rotate(45deg);
}

.menu--open .burger-line:nth-child(3) {
    transform: rotate(-45deg);
}

.menu--open .burger-line:nth-child(4) {
    transform: scaleX(0);
}

.main-nav-link {
    display: inline-block;
    font-size: 24px;
    font-weight: 500;
    font-family: sans-serif;
    color: #fff;
    text-decoration: none;
    padding: 8px 16px;
    transition: all 0.25s ease-in-out;
}

.main-nav-link:hover {
    
    color: #333;
    transform: scale(1.05);
}

.main-nav-link:focus {
    outline: 2px solid #fff;
    outline-offset: 4px;
    background-color: burlywood;
    color: #fff;

}

.menu-logo-link {
    position: relative;
    z-index: 110;
    display: inline-block;
    size: 250px;
}

.menu-burger .burger {
    position: relative;
    z-index: 110;
}

.menu--open .menu-logo-link {
    color: #ffaa00;
}

.menu--open .burger-line {
    background-color: #ffaa00;
}

.menu-logo-link svg {
    width: 60px;      
    height: 60px;
}

.tekst h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
}


.content {
    max-width: 800px;           
    margin: 0;             
    padding: 60px 20px;         
    text-align: center;         
}

.kontent h1{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 48px;
    font-family: sans-serif;
    color: #333;
    margin-bottom: 40px;        
    font-weight: 700;
}

.kontent p {
    font-size: 18px;           
    margin-bottom: 30px;       
    max-width: 1500px;           
    margin-left: auto;         
    margin-right: auto;         
}